{% extends "layout.html" %}
{% block content %}
  
        <!-- Mascot-Callout -->
    <div class"mascot-callout">
       <p class="bubble"><em>"Top of the morning to you ol' chap, could I perhaps interest you in a cup of tea?"</em></p>
    </div>
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="..\static\img\Home1.jpg" alt="Home">
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <img src="..\static\img\Home2.jpg" alt="Home">
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <img src="..\static\img\Home3.jpg" alt="Home">
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    How the Texas A&M Career Closet Works
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-calendar"></i> Setup an Appointment</h4>
                    </div>
                    <div class="panel-body">
                        <p>Visit the "APPOINTMENT" page to  book an appointment online. Also, be sure to visit the "AVAILABILITY" page to ensure that the attire is indeed available at the time of scheduling. Visit the Texas A&M University Career Closet in person at MSC Room L428 at the time of your appointment. You will be able to create a date and time to try on and pick up your business attire.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Choose your Business Attire</h4>
                    </div>
                    <div class="panel-body">
                        <p>During your appointment, you will be able to try on different pieces of business attire to find a size and style that suits you. You will have five days to use the business attire for important interviews, networking events, and other occasions where you want to make a strong first impression. Under certain circumstances, the rental period can be extended to accommodate students who may need to rent business attire for periods longer than five days.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-tint"></i> Dry Clean &amp Return</h4>
                    </div>
                    <div class="panel-body">
                        <p>Before you return the business attire, you must take it by Park Cleaners (located at 314 George Bush Dr. College Station, Texas 77840) and pay the $5 fee to have the attire dry cleaned. All you will need to do after that is return the attire to the MSC Room L428 during normal business hours.</p>
                    </div>
                </div>
            </div>
        </div>
 
        <hr>
    </div>
  
  
 <!-- 
  <div class="jumbo">
    <h3>
    {% if "email" not in session %} Please sign in or sign up {% endif %}
    </h3>
    <h2>Welcome to Career closet {% if "email" in session %} {{ session["email"].split("@")[0] }} {% endif %}     
    <h2>
    <h3>This website will let you take suits for any events<h3>
    
  </div>
  
  -->
{% endblock %}




