{% extends "layout.html" %}
{% block content %}
<head>    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
</head>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">404
                    <small>Page Not Found</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('signin') }}">Home</a>
                    </li>
                    <li class="active">404</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-12">
                <div class="jumbotron">
                    <h6><span class="error-404">404: Oh No! Aliens are attacking our servers</span>
                    </h6>
                    <p>Help us fend of the aliens so that we We can find the page you were looking for</p>
                    <!--game-->
                    <div class="row">
                      <div class="invaders">
                        <!--<canvas id="game-canvas">Please send us a mail if you cannot find what you are looking for</canvas>-->
                        <canvas id="gameview"></canvas>
                      </div>
                    </div>
                    <br><br>
                    <p>If you think you that there should be a page here, check the site map below and if you can't find the page and drop us a note via the contact us form to let us know about a broken link. We'll get to it as soon as thos blasted aliens are dead</p>
                    <ul>
                     <li>
                      <a href="{{ url_for('availability') }}">Availability</a>
                  </li>
                  <li>
                      <a href="{{ url_for('appointment') }}">Appointment</a>
                  </li>
                  <li>
                      <a href="{{ url_for('learn') }}">Learn</a>
                  </li>
                  <li>
                      <a href="{{ url_for('donate') }}">Donate</a>
                  </li>
                  <li>
                      <a href="{{ url_for('contact') }}">Contact</a>
                  </li>
				  <li>				  
                      <a href="{{ url_for('checkout') }}">Checkout</a>
                  </li>
                  <li>
                      <a href="{{ url_for('error') }}">404</a>
                  </li>
                  <li>
                      <a href="{{ url_for('signup') }}">SignUp</a>
                  </li>
                  <li>
                      <a href="{{ url_for('signin') }}">SignIn</a>
                  </li>
                  <li>
                      <a href="{{ url_for('signout') }}">SignOut</a>
                  </li>
				</ul>
                </div>
            </div>

        </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="..\static\js\jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="..\static\js\bootstrap.min.js"></script>

    <script type="text/javascript" src="..\static\js\jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="..\static\js\Const.js"></script>
		<script type="text/javascript" src="..\static\js\SpaceShip.js"></script>
		<script type="text/javascript" src="..\static\js\CDetection.js"></script>
		<script type="text/javascript" src="..\static\js\Game.js"></script>
		<script type="text/javascript" src="..\static\js\Main.js"></script>
   <script src="..\static\js\invaders.js"></script>

        <hr>
        
        {% endblock %}
        
