{% extends "layout.html" %} {% block content %}
<!--<div class="jumbo">Appointment Page</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class="jumbo">Appointment Page</div>

<script type=text/javascript>
	$(function() {
		$("#submitBtn").click(function() {
			console.log("Hi th");
			$.ajax({
				type : "GET",
				url : "/schedule/",
				contentType : "application/xml; charset=utf-8",
				data : {
					date : $('input[name="date"]').val()
				},
				success : function(data) {
					$('#result').text(data.result);
					alert("success");
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert("Arjun error:"+errorThrown);
				}
			});
		});
	});
</script>

<strong>Enter a value to echo back:</strong>
<input type='text' size='10' id='date' name='date'>
<button type='button' id='submitBtn' name='submitBtn' onclick="myFunction()">Submit via AJAX</button><br /><br />
<strong><div id='slots'></div></strong>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

	<!-- Page Content -->
	<div class="container">

			<!-- Page Heading/Breadcrumbs -->
			<div class="row">
					<div class="col-lg-12">
							<h1 class="page-header">Appointment
							</h1>
							<ol class="breadcrumb">
									<li><a href="{{url_for('home')}}">Home</a>
									</li>
									<li class="active">Appointment</li>
							</ol>
					</div>
			</div>
			<!-- /.row -->
			<!-- Image Header -->
			<div class="row">
					<div class="col-lg-12">
							<img class="img-responsive" src="static\img\Availability.jpg" alt="">
					</div>
			</div>
			<!-- /.row -->
			<!-- Content Row -->
			<div class="row">
				<div class="col-lg-12">
						<h2 class="page-header">Schedule Your Appointment</h2>
				</div>
					<div class="col-lg-12">
						<form>
							<div style="overflow:hidden;">
    						<div class="form-group">
									<div class="row">
										<div class="col-md-6 apppad">
											<div id="datetimepicker12"></div>
										</div>
										<div class="col-md-6 apppad" data-toggle="buttons">
											<span><strong>Morning</strong></span><br/>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:00 AM</strong></label>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:10 AM</strong></label>
											<br/><span><strong>Afternoon</strong></span><br/>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:00 AM</strong></label>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:10 AM</strong></label>
											<br/><span><strong>Evening</strong></span><br/>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:25 AM</strong></label>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:00 AM</strong></label>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:10 AM</strong></label>
											<label class="btn btn-label"><input type="radio" name="optradio"><strong>09:25 AM</strong></label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 text-center">
											<button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
								</div>
							</div>
						</form>
					</div>
					<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<!-- Moment with Locale JavaScript-->
	<script type="text/javascript" src="static\js\moment-with-locales.js"></script>
	<!-- Bootstrap Core JavaScript-->
	<script type="text/javascript" src="static\js\bootstrap.min.js"></script>

	<!-- Bootstrap Datepicker JavaScript-->

	<script type="text/javascript" src="static\js\bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript">
		$('#datetimepicker12').datetimepicker({
				inline: true,
				sideBySide: true,
				format: 'L',
				daysOfWeekDisabled: [0,2,3,5,6]
			});
	</script>


	<hr>
		</div>
	<!--/.container -->

{% endblock %}
