{% extends "layout.html" %} {% block content %}
{% if success == 'checkout-success' %}
<div class = "mascot-callout">
	<p class="bubble"><em>Ofcourse, Master {{ session["fullname"] }} I'll mark that suit as checked out</em></p>
</div>
{% elif success == 'checkin-success' %}
<div class = "mascot-callout">
	<p class="bubble"><em>Ofcourse, Master {{ session["fullname"] }} I'll mark that suit as checked in</em></p>
</div>
{% endif %}
{% for message in form1.suiteId.errors %}
	<div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form1.email.errors %}
	<div class="flash">{{ message }}</div>
{% endfor %}

{% for message in form2.suiteId.errors %}
	<div class="flash">{{ message }}</div>
{% endfor %}



<script>
function checkoutButton() {
	alert("altered checkout");
    document.getElementsByName("checkoutButtonClicked").value = "True";
}
function checkinButton() {
	alert("altered checkin");
    document.getElementsByName("checkinButtonClicked").value = "True";
}
</script>
<!-- Page Content -->

<div class="container">
	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Admin Dashboard</h1>
			<ol class="breadcrumb">
				<li><a href="{{url_for('home')}}">Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->


	<!-- Service Tabs -->
	        <div class="row">
	            <div class="col-lg-12">
	                
	            </div>
	            <div class="col-md-12">

	                <ul id="myTab" class="nav nav-tabs nav-justified">
	                    <li class="active"><a href="#service-zero" data-toggle="tab"><i class="fa fa-tree"></i> Check Out</a>
	                    </li>
	                    <li class=""><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Check In</a>
	                    </li>
	                </ul>					
	                <div id="myTabContent" class="tab-content">
	                    <div class="tab-pane fade active in" id="service-zero">
	                       <!-- <iframe src="{{url_for('dashboard0')}}"></iframe> -->
	                        <div class ="tiny">
														<h1> potato Suit</h1>
														<form name="CheckoutForm" class = "form-horizontal" action = "{{url_for('dashboard0')}}" method = post>
															{{ form1.hidden_tag() }}
															<fieldset>
															
															<input type="hidden" name="checkoutButtonClicked" id="checkoutButtonClicked" value="False">
															<input type="hidden" name="checkinButtonClicked" id="checkinButtonClicked" value="False">
																						<!-- Sign In Form -->
																						<!-- Text input-->
																						<div class="control-group">
																							<label class="control-label" for="email">Suit Id:</label>
																							<div class="controls">
																								<!-- <input required="" id="suiteId" name="suiteId" type="text" class="form-control" placeholder="Enter suit id" class="input-medium" required>-->
																								<select name="suiteId" id="suiteId">
																									<option value="" disabled selected>Select SuitID to Checkout</option>
																									{% for suit in suits1 %}
																										<option value="{{suit.suit_id}}">{{suit.suit_id}}</option>
																									{% endfor %}
																								</select>
																							</div>
																						</div>

																						<!-- Text input-->
																						<div class="control-group">
																							<label class="control-label" for="email">Email:</label>
																							<div class="controls">
																								<input required="" id="email" name="email" type="text" class="form-control" placeholder="aggie@email.com" class="input-medium" required>
																							</div>
																						</div>

																						<!-- Button -->
																						<div class="control-group">
																							<label class="control-label" for="submit"></label>
																							<div class="controls">
																								<!--<button id="submit" name="checkout" class="btn btn-primary" onclick="checkoutButton()">Checkout</button>-->
																								<input type="submit" id="submit" name="submit" class="btn btn-primary" value="checkout">
<input type="submit" name="btn" value="Cancel">
																							</div>
																						</div>
															</fieldset>

														</form>
														</div>
													

	                    </div>
	                    <div class="tab-pane fade" id="service-one">
	                        <div class="row">
	                        <!--<iframe src="{{url_for('checkin')}}"></iframe>-->
														<div class="tiny">
															<h1>Checkin Suit</h1>
															<form name="CheckinForm" class="form-horizontal"
																action="{{url_for('dashboard1')}}" method=post>
																{{ form2.hidden_tag() }}
																<fieldset>
																	<!-- Sign In Form -->
																	<!-- Text input-->
																	<div class="control-group">
																		<label class="control-label" for="email">Suit Id:</label>
																		<div class="controls">
																			<!-- <input required="" id="suiteId" name="suiteId" type="text" class="form-control" placeholder="Enter suit id" class="input-medium" required>-->
																			<select name="suiteId" id="suiteId">
																				<option value="" disabled selected>Select SuitID to
																					Checkin</option> {% for suit in suits2 %}
																				<option value="{{suit.suit_id}}">{{suit.suit_id}}</option> {%
																				endfor %}
																			</select>
																		</div>
																	</div>

																	<!-- Button -->
																	<div class="control-group">
																		<label class="control-label" for="submit"></label>
																		<div class="controls">
																		<!-	<button id="submit" name="checkin" class="btn btn-primary" onclick="checkinButton()">Checkin</button> -->
																			<input type="submit" id="submit" name="submit" class="btn btn-primary" value="checkin">
																			
																		</div>
																	</div>
																</fieldset>

															</form>
														</div>
	                        </div>
	                    </div>

	                </div>

	            </div>
	        </div>

</div>

{% endblock %}
