
{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Donation Chart
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="active">Donate</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-bronze text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bronze</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>250 to <sup>$</sup>999</span>
                        <span class="period">for 5 year</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Sponsors <strong>1 suit</strong> a year</li>
                        <li class="list-group-item">Free subscription to newsletter</li>
                        <li class="list-group-item">Personal Thank you card from students</li>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-silver text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Silver</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>1000 to <sup>$</sup>2999</span>
                        <span class="period">for 5 year</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Sponsors <strong>4 suits</strong> a year</li>
                        <li class="list-group-item">Free subscription to newsletter</li>
                        <li class="list-group-item">Personal Thank you card from students</li>
                        <li class="list-group-item">Most popular tier</li>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-gold text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Gold</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>3000 to <sup>$</sup>5999</span>
                        <span class="period">for 5 year</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Sponsors <strong>12 suits</strong> a year</li>
                        <li class="list-group-item">Free subscription to newsletter</li>
                        <li class="list-group-item">Personal Thank you card from students</li>
                        <li class="list-group-item"><strong>Quote</strong> to be displayed on suit hanger</li>
                        </li>
                    </ul>
                </div>
            </div>
			<div class="col-md-3">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Founder</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>6000 and above</span>
                        <span class="period">for 5 year</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Sponsors <strong>unlimited suits</strong> a year</li>
                        <li class="list-group-item">Free subscription to newsletter</li>
                        <li class="list-group-item">Personal Thank you card from students</li>
                        <li class="list-group-item"><strong>Quote</strong> to be displayed on suit hanger</li>
						<li class="list-group-item"><strong>Picture</strong> to be displayed on suit hanger</li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
      </div>
      <!--/.container -->
{% endblock %}
